*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #2400c4;}
a{
    text-decoration: none;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px 30px 30px 30px;
}
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
}
.clock {
    color: #898989!important;
}

.slock:before {
    content: '';
    width:  20px;
    height: 14px;
    display: inline-block;
    background-image: url(img/clock.png);
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local:before {
    content: '';
    width:  20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 2px;
}
.emailico:before, .telefoneico:before {
    content: '';
    width:  20px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    padding-left: 1px;
    padding-right: 2px;
}
.local:before {
    background-image: url('img/local.png');
}  
.emailico:before {
    background-image: url('img/email.png');
}  
.telefoneico:before {
    background-image: url('img/telefoneico.png');
}  
.hr{
    color: #1f374d;}



    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #000000
    }
    
    .logofooter{
        width: 25%;
    }
    
    .logofooter img{
        width: 100%;
        
    }
    
    .conteudofooter{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .contatofooter{
        text-align: start;
        color: #ffffff;
    }
    
    .contatofooter p{
        font-family: 'Roboto', sans-serif;
    
    }
    
    .contatofooter h2{
        text-align: center;
    }
    
    .icones a img{
        height:2em;
        width:2em;
    }
    
    .textoeicone{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
    }
    
    .textoeicone img{
        height:2em;
        width:2em;
    }
    
    .textoeicone p{
        margin-left: 0.5rem;
    }
    
    .textoeicone p a{
        text-decoration: none;
        color: #ffffff;
        
    }
    
    .mapa{
        width: 100%;
        height: 20rem;
    }
    
    
    
    @media screen and (min-width: 769px) { 
        footer{
            flex-direction: row;
            justify-content: space-evenly;
        }
        .conteudofooter{
            display: flex;
            flex-direction: row;
            height: 100%; }

       
     
            
        }
        @media screen and (max-width: 769px) { 
           

                  .logofooter img{
                height: 60px; width: 100%;
               
            }
         
                
            }
        
      
            #ho:hover{
              background-color: #4d3ef544;
              border-radius: 25px 25px 25px 25px;
                    border: 1px;
                    transition: transform 0.6s ease-in-out;  
                    transition: box-shadow 0.2s ease-in-out;
                    transform: scale(1); 
                    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
            }
            .col-lg-4:hover{
              background-color: #4d3ef544;
              border-radius: 25px 25px 25px 25px;
                    border: 1px;
                    transition: transform 0.6s ease-in-out;  
                    transition: box-shadow 0.3s ease-in-out;
                    transform: scale(1); 
                    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
            }
            #ver{
              background:#4d3ef544;
              border: 1px;
              border-radius: 25px 25px 25px 25px;
            }
            #ver:hover{
              background-color: #4d3ef544;
              border-radius: 25px 25px 25px 25px;
                    border: 1px;
                    transition: transform 0.6s ease-in-out;  
                    transition: box-shadow 0.4s ease-in-out;
                    transform: scale(1); 
                    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
            }
         
            #topcontrol {
                text-decoration: none;
                background:#18d05d;
                bottom: 2px;
                right: 10px;
                color: rgb ( 10 , 10 , 10);
                text-align: center;
                cursor: pointed;
                padding: 15px;
                bottom: 35px;
                font-size: 10px;
                font-weight: bold;
                text-transform: uppercase;
                position: fixed;
                border-radius:70px;
                font-family: sans-serif;
                opacity: .8;
                margin-bottom: 27px;
            }
           